* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center; 
    height: 100%;
}

.main {
    margin: 50px 0;
    max-height: 1500px;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    background: linear-gradient(192.05deg, #47BFDF 0%, #4A91FF 100%);
    color: white;
    font-family: 'Overpass', sans-serif;
    border-radius: 15px;
}

.city-search {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    width: 100%;
    gap: 50px;
}



.current-city {
    font-weight: 700;
    font-size: 20px;
    padding-left: 15px;
    width: 30%;
}

#city-search-input {   
    width: 100%;
    width: 200px;
    border-radius: 10px;
    padding: 5px 7px;
    outline: none;
    border: none;
}

#btn {
    display: none;
}

.current-weather {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 450px;
    margin-top: 15px;
}


.temp::after {
    content: '°';
}


.current-weather-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 450px;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 20px;
    padding: 15px;
}

.temp {
    font-weight: 400;
    font-size: 100px;
    line-height: 127px;
}

.condition {
    font-weight: 700;
    font-size: 24px;
    margin-top: 5px;
}

li {
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
}


.wind-speed {
    margin-left: 5px;
}

.hum-condition {
    margin-left: 5px;
    
}

.hum {
    margin-top: 21px;
}

.wind-hum-list {
    list-style: none;
    margin-top: 34px;
}

.weather-forecast-icon {
    width: 60px;
    height: 60px;
} 

.forecast {
    display: flex;
    padding: 15px;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.forecast-day {
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    align-items: center;
    width: 85%;
    font-size: 18px;
    margin: 15px 10px;
}

@media (max-width: 510px){
    .main {
        margin: 0;
        width: 100%;
        max-width: 510px;
        border-radius: 0; 
    }
    .forecast {
        display: flex;
        padding: 15px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .forecast-day {
        display: flex;
        flex-direction: row;
        justify-content: space-between; 
    }
}

@media (max-width: 390px) {
    .main{
        width: 100%;
        max-width: 390px;
        margin: 0;
        border-radius: 0;
    }

    #city-search-input {   
        width: 100%;
    }
}
